<!DOCTYPE html>
<html lang="en" ng-app="userApp">
<head>
    <meta charset="utf-8" />
    <title>Demo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
